<table class="table">
  <thead>
    <tr class="table-container-tr">
      <% spots_table_headers.each do |h| %>
        <% next if h[:sort] == 'level' %>
        <th scope="col">
          <% if h[:sort] == "none" %>
            <%= "#{h[:name]}" %>
          <% else %>
            <%= link_to "#{h[:name]}", user_spot_balances_path(ch_remote_params(params, h[:sort])), remote: true, class: "#{params[:sort] == h[:sort] ? 'text-primary' : ''}" %>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @histories.each do |h| %>
      <tr>
        <td><%= h.origin_symbol %></td>
        <td><%= h.price.round(4) %> <%= h.to_symbol %></td>
        <td><%= h.current_price.to_f.round(4) %> <%= h.to_symbol %></td>
        <td><%= h.qty.round(4) %></td>
        <td><%= h.amount.round(4) %> <%= h.to_symbol %></td>
        <td class="<%= h.revenue > 0 ? 'pos-num' : 'neg-num' %>" ><%= h.revenue.round(4) %></td>
        <td><%= h.source %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="p-4">
  <%= paginate @histories, remote: true %>
</div>