<div class="m-3">
  <h3>现货仓位管理</h3>
  <div class="mb-3 mt-3">
    <%= form_tag user_spot_balances_path, id: "search_targets", method: "GET" do %>
      <div class="input-group mb-3 position-filter">
        <%= select_tag(:search, options_for_select(UserSpotBalance.where(user_id: current_user.id).pluck(:origin_symbol).uniq, @symbol), { prompt: '请选择币种...', class: 'select2-dropdown form-control' }) %>
        <span class='ms-3'></span>
        <button type="submit" class="btn btn-primary">确定</button>
        <%= link_to "Reset", user_spot_balances_path, class: 'btn btn-default' %>
        <%= link_to "Refresh", refresh_user_spot_balances_path, class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
  <div class="py-3">
    <p>总投入: <%= @total_summary[:total_amount].round(4) %> / 绝对收益: <%= @total_summary[:total_revenue].round(4) %></p>
  </div>
  <div id="user-positions-container">
    <%= render partial: "list" %>
  </div>
</div>