<table class="table">
  <thead>
    <tr class="table-container-tr">
      <% positions_table_headers.each do |h| %>
        <th scope="col">
          <% if h[:sort] == "none" %>
            <%= "#{h[:name]}" %>
          <% else %>
            <% url = get_list_url(source_type, ch_remote_params(params, h[:sort])) %>
            <%= link_to "#{h[:name]}", url, remote: true, class: "#{params[:sort] == h[:sort] ? 'text-primary' : ''}" %>
          <% end %>
          <% if h[:sort].in?(["roi", "margin_ratio"]) %>
            <span class="question-mark" data-bs-toggle="tooltip" title='<%= t("views.trading.#{h[:sort]}") %>'>?</span>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @histories.each do |h| %>
      <% snapshot = @snapshots.select{|s| s.origin_symbol == h.origin_symbol && s.trade_type == h.trade_type && s.source == h.source}.first %>
      <% $redis.set("user_positions_#{h.id}_compare_revenue", snapshot.revenue) if snapshot %>
      <tr>
        <td><%= display_symbol(h, snapshot) %></td>
        <td class="<%= trade_type_style(h.trade_type) %>"><%= I18n.t("views.contract_trading.#{h.trade_type}") %></td>
        <td><%= h.price.round(4) %> <%= h.fee_symbol %></td>
        <td><%= h.current_price.to_f.round(4) %> <%= h.fee_symbol %></td>
        <td><%= h.qty.round(4) %></td>
        <td><%= position_amount_display(h, snapshot) %></td>
        <td><%= "#{(h.cost_ratio(@total_summary[:total_cost]) * 100).round(3)}%" %></td>
        <td style="width: 8%"><%= position_revenue_display(h, snapshot) %></td>
        <td style="width: 8%" class="<%= h.margin_revenue > 0 ? 'pos-num' : 'neg-num' %>"><%= h.margin_revenue %> <%= h.fee_symbol %></td>
        <td class="<%= h.roi > 0 ? 'pos-num' : 'neg-num' %>" ><%= "#{(h.roi * 100).round(3)}%" %></td>
        <td><%= "#{(h.revenue_ratio(@total_summary[:total_revenue]) * 100).round(3)}%" %></td>
        <td><%= "#{(h.margin_ratio.to_f * 100).round(3)}%" %></td>
        <td><%= h.source %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="p-4">
  <%= paginate @histories, remote: true %>
</div>