<table class="table">
  <thead>
    <tr class="table-container-tr">
      <% positions_table_headers.each do |h| %>
        <% next if h[:sort].in?(['level', 'notes', 'average_durations']) && source_type != :public %>
        <th scope="col">
          <% if h[:sort] == "none" %>
            <%= "#{h[:name]}" %>
          <% else %>
            <% url = get_list_url(source_type, ch_remote_params(params, h[:sort])) %>
            <%= link_to "#{h[:name]}", url, remote: true, class: "#{params[:sort] == h[:sort] ? 'text-primary' : ''}" %>
          <% end %>
          <% if h[:sort].in?(["roi", "margin_ratio"]) %>
            <span class="question-mark" data-bs-toggle="tooltip" title='<%= t("views.trading.#{h[:sort]}") %>'>?</span>
          <% end %>
        </th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @histories.each do |h| %>
      <% snapshot = @snapshots.select{|s| s.origin_symbol == h.origin_symbol && s.trade_type == h.trade_type && s.source == h.source}.first %>
      <% $redis.set("user_positions_#{h.id}_compare_revenue", snapshot.revenue) if snapshot %>
      <tr data-id="<%= h.id %>">
        <td>
          <% if h.user_id.nil? %>
            <%= link_to display_symbol(h, snapshot), position_detail_path(origin_symbol: h.origin_symbol, source: h.source, trade_type: h.trade_type), target: '_blank' %>
          <% else %>
            <%= display_symbol(h, snapshot) %>
          <% end %>
        </td>
        <td><%= get_average_holding_duration(h.average_durations) if h.user_id.nil? %></td>
        <td><%= h.ranking %></td>
        <td><%= link_to display_funding_fee(h), funding_fee_chart_path(symbol: h.origin_symbol, source: h.source), target: '_blank' %></td>
        <td class="<%= trade_type_style(h.trade_type) %>"><%= I18n.t("views.contract_trading.#{h.trade_type}") %></td>
        <td><%= h.price.round(4) %> <%= h.fee_symbol %></td>
        <td><%= h.current_price.to_f.round(4) %> <%= h.fee_symbol %></td>
        <td><%= h.qty.round(4) %></td>
        <td><%= position_amount_display(h, snapshot) %></td>
        <td><%= "#{(h.cost_ratio(@total_summary[:total_cost]) * 100).round(4)}%" %></td>
        <td style="width: 8%"><%= position_revenue_display(h, snapshot) %></td>
        <td style="width: 8%" class="<%= h.margin_revenue > 0 ? 'pos-num' : 'neg-num' %>"><%= h.margin_revenue %> <%= h.fee_symbol %></td>
        <td class="<%= h.roi > 0 ? 'pos-num' : 'neg-num' %>" ><%= "#{(h.roi * 100).round(4)}%" %></td>
        <td><%= "#{(h.revenue_ratio(@total_summary[:total_revenue]) * 100).round(4)}%" %></td>
        <td><%= "#{(h.margin_ratio.to_f * 100).round(4)}%" %></td>
        <td><%= h.source %></td>
        <% if h.is_a?(UserPosition) && h.user_id.nil? %>
          <td><%= UserPosition::LEVEL[h.level] if h.level %></td>
          <td class='notes' data-bs-toggle="tooltip" title='<%= h.notes %>'><%= link_to (h.notes&.truncate(10) || '备注历史'), user_positions_notes_histories_path(origin_symbol: h.origin_symbol, trade_type: h.trade_type, source: h.source) %></td>
          <td><%= link_to "编辑", edit_user_position_path(id: h.id), remote: true %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="p-4">
  <%= paginate @histories, remote: true %>
</div>