<table class="table">
  <thead>
    <tr class="table-container-tr">
      <% spots_table_headers.each do |h| %>
        <th scope="col">
          <% if h[:sort] == "none" %>
            <%= "#{h[:name]}" %>
          <% else %>
            <%= link_to "#{h[:name]}", public_spot_balances_path(ch_remote_params(params, h[:sort])), remote: true, class: "#{params[:sort] == h[:sort] ? 'text-primary' : ''}" %>
          <% end %>
        </th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @histories.each do |h| %>
      <% snapshot = @snapshots.select{|s| s.origin_symbol == h.origin_symbol && s.source == h.source}.first %>
      <tr>
        <td><%= link_to h.origin_symbol, origin_transactions_path(search: h.origin_symbol, source: h.source) %></td>
        <td><%= h.price.round(4) %> <%= h.to_symbol %></td>
        <td><%= h.current_price.to_f.round(4) %> <%= h.to_symbol %></td>
        <td><%= h.qty.round(4) %></td>
        <td><%= position_amount_display(h, snapshot) %></td>
        <td><%= spot_balance_revenue_display(h, snapshot) %></td>
        <td><%= h.source %></td>
        <td><%= UserSpotBalance::LEVEL[h.level] if h.level %></td>
        <td><%= link_to "编辑", edit_user_spot_balance_path(id: h.id), remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="p-4">
  <%= paginate @histories, remote: true %>
</div>

<div id="spots-level-modal">
</div>