<div class="m-3 row">
  <h2>资金费用变化曲线图</h2>
  <div class="mb-3 mt-5 col-8">
    <%= form_tag funding_fee_chart_path, id: "search_targets", method: "GET" do %>
      <div class="input-group mb-3 position-filter">
        <%= select_tag(:symbol, options_for_select(UserPosition.available.where(user_id: nil).pluck(:origin_symbol).uniq, @symbol), { prompt: '请选择币种...', class: 'select2-dropdown form-control' }) %>
        <span class='ms-3'></span>
        <%= select_tag(:source, options_for_select(['binance', 'okx'], @source),{ prompt: '请选择来源...', class: 'select2-dropdown form-control'}) %>
        <span class='ms-3'></span>
        <%= text_field_tag :from_date, params[:from_date], class: "form-control datepicker",type: "text", placeholder: "选择过滤开始日期", autocomplete: "off" %>
        <span class='ms-3'></span>
        <%= text_field_tag :to_date, params[:to_date], class: "form-control datepicker",type: "text", placeholder: "选择过滤结束日期", autocomplete: "off" %>
        <span class='ms-3'></span>
        <button type="submit" class="btn btn-primary">确定</button>
        <%= link_to "Reset", funding_fee_chart_path, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
  <div class="chart mb-5">
    <div>
      <div class="mt-3">
        <h4>资金费用中位数: <%= @data_summary[:median].round(2) %> / 最高: <%= @data_summary[:max].round(2) %> / 最低: <%= @data_summary[:min].round(2) %></h4>
      </div>
      <%= render partial: "funding_fee_chart" %>
    </div>
  </div>
</div>