<div class="m-3 row">
  <div class="col-10 mx-auto">
    <h3>
      <%= "#{params[:origin_symbol]}历史投入" %>
    </h3>
    <div class="mt-3">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>时间</th>
            <th>类别</th>
            <th>平均成本价</th>
            <th>最新价格</th>
            <th>新增数量</th>
            <th>新增金额</th>
            <th>
              新增收益
              <span class="question-mark" data-bs-toggle="tooltip" title='<%= t("views.contract_trading.revenue") %>'>?</span>
            </th>
            <th>新增收益占新增金额的占比</th>
            <th>新增金额占当前该币种总仓位的占比</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @data.each do |d| %>
            <tr>
              <td><%= d.event_date.to_s %></td>
              <td class="<%= trade_type_style(d.trade_type) %>"><%= I18n.t("views.contract_trading.#{d.trade_type}") %></td>
              <td><%= d.price.round(3) %></td>
              <td><%= d.current_price.round(3) %></td>
              <td class="<%= d.qty.to_f > 0 ? 'pos-num' : 'neg-num' %>"><%= d.qty %></td>
              <td class="<%= d.amount.to_f > 0 ? 'pos-num' : 'neg-num' %>"><%= d.amount %></td>
              <td class="<%= d.revenue.to_f > 0 ? 'pos-num' : 'neg-num' %>"><%= d.revenue.round(3) %></td>
              <td><%= "#{d.roi}%" %></td>
              <td><%= "#{d.amount_ratio}%" %></td>
              <td><%= d.source %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="p-4">
        <%= paginate @data %>
      </div>
    </div>
  </div>
  <div class="col-10 mx-auto">
    <h3>
      <%= "#{params[:origin_symbol]}委托单" %>
    </h3>
    <div class="mt-3">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>类别</th>
            <th>委托价</th>
            <th>触发价</th>
            <th>委托数量</th>
            <th>订单类型</th>
          </tr>
        </thead>
        <tbody>
          <% if @open_orders %>
            <% @open_orders.first(20).each do |d| %>
              <tr>
                <td class="<%= trade_type_style(d['side'].downcase) %>"><%= I18n.t("views.trading.#{d['side'].downcase}") %></td>
                <td><%= d['price'].to_f.round(3) %></td>
                <td><%= d['stopPrice'].to_f.round(3) %></td>
                <td><%= d['origQty'] %></td>
                <td><%= d['origType'] %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>