<div class="m-3 row">
  <div class="col-10 mx-auto">
    <h3>
      <%= "#{@from_date} - #{@to_date} 期间新增投入" %>
    </h3>
    <div class="mb-3 mt-3 col-6">
      <%= form_tag recently_adding_positions_path, id: "search_targets", method: "GET" do %>
        <div class="input-group mb-3">
          <%= text_field_tag :from_date, params[:from_date], class: "form-control datepicker",type: "text", placeholder: "选择过滤开始日期", autocomplete: "off" %>
          <%= text_field_tag :to_date, params[:to_date], class: "form-control datepicker",type: "text", placeholder: "选择过滤结束日期", autocomplete: "off" %>
          <%= select_tag(:origin_symbol, options_for_select(@data.pluck(:origin_symbol).uniq, @symbol),{ prompt: '请选择币种...', class: 'select2-dropdown form-control' }) %>
          <button type="submit" class="btn btn-primary">确定</button>
          <%= link_to "Reset", recently_adding_positions_path, class: 'btn btn-default' %>
          <%= link_to "Refresh", refresh_recently_adding_positions_path, class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
    <div>
      <% summary = adding_positions_summary(@data) %>
      <div class="pt-3">
        <p>总新增投入金额: <%= summary[:total_amount] %></p>
        <p>
          总新增投入盈亏比: <%= "#{summary[:rate]}%" %>
          <span class="question-mark" data-bs-toggle="tooltip" title='<%= t("views.contract_trading.adding_rate") %>'>?</span>
        </p>
        <p>投入最多的币种: <%= summary[:max_symbol] %> 金额: <%= summary[:max_amount] %></p>
      </div>
    </div>
    <div class="mt-3 recently_positions_container">
      <%= render partial: "recently_positions_list" %>
    </div>
  </div>
</div>