<div class="m-3 row">
  <div class="col-10 mx-auto">
    <h3>
      <%= "#{@from_date} - #{@to_date} 期间新增投入" %>
    </h3>
    <div class="mb-3 mt-3 col-6">
      <%= form_tag recently_adding_positions_path, id: "search_targets", method: "GET" do %>
        <div class="input-group mb-3">
          <%= text_field_tag :from_date, params[:from_date], class: "form-control datepicker",type: "text", placeholder: "选择过滤开始日期", autocomplete: "off" %>
          <%= text_field_tag :to_date, params[:to_date], class: "form-control datepicker",type: "text", placeholder: "选择过滤结束日期", autocomplete: "off" %>
          <button type="submit" class="btn btn-primary">确定</button>
          <%= link_to "Reset", recently_adding_positions_path, class: 'btn btn-default' %>
          <%= link_to "Refresh", refresh_recently_adding_positions_path, class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
    <div>
      <% summary = adding_positions_summary(@data) %>
      <div class="pt-3">
        <p>总新增投入金额: <%= summary[:total_amount] %></p>
        <p>
          总新增投入盈亏比: <%= "#{summary[:rate]}%" %>
          <span class="question-mark" data-bs-toggle="tooltip" title='<%= t("views.contract_trading.adding_rate") %>'>?</span>
        </p>
        <p>投入最多的币种: <%= summary[:max_symbol] %> 金额: <%= summary[:max_amount] %></p>
      </div>
    </div>
    <div class="mt-3">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>类别</th>
            <th>平均成本价</th>
            <th>最新价格</th>
            <th>新增数量</th>
            <th>新增金额</th>
            <th>
              新增收益
              <span class="question-mark" data-bs-toggle="tooltip" title='<%= t("views.contract_trading.revenue") %>'>?</span>
            </th>
            <th>新增收益占新增金额的占比</th>
            <th>新增金额占当前该币种总仓位的占比</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @data.each do |d| %>
            <tr>
              <td><%= link_to d.origin_symbol, position_detail_path(origin_symbol: d.origin_symbol, source: d.source, trade_type: d.trade_type), target: '_blank' %></td>
              <td class="<%= trade_type_style(d.trade_type) %>"><%= I18n.t("views.contract_trading.#{d.trade_type}") %></td>
              <td><%= d.price.round(3) %></td>
              <td><%= d.current_price.round(3) %></td>
              <td><%= d.qty %></td>
              <td><%= d.amount %></td>
              <td class="<%= d.revenue.to_f > 0 ? 'pos-num' : 'neg-num' %>"><%= d.revenue.round(3) %></td>
              <td><%= "#{d.roi}%" %></td>
              <td><%= "#{d.amount_ratio}%" %></td>
              <td><%= d.source %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="p-4">
        <%= paginate @data %>
      </div>
    </div>
  </div>
</div>