<div class="m-3">
  <h3>
    合约仓位列表
    <%= link_to "导出CSV", export_user_positions_path(format: :csv, search: params[:search], compare_date: params[:compare_date]), class: "btn btn-primary" %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#configModal">
      列表过滤配置
    </button>
  </h3>
  <div class="mb-3 col-6">
    <%= form_tag public_user_positions_path, id: "search_targets", method: "GET" do %>
      <div class="input-group mb-3">
        <%= select_tag(:search, options_for_select(UserPosition.available.where(user_id: nil).pluck(:origin_symbol).uniq, @symbol), { prompt: '请选择币种...', class: 'select2-dropdown form-control' }) %>
        <%= text_field_tag :compare_date, params[:compare_date], class: "form-control datepicker",type: "text", placeholder: "选择对比日期", autocomplete: "off" %>
        <button type="submit" class="btn btn-primary">确定</button>
        <%= link_to "Reset", public_user_positions_path, class: 'btn btn-default' %>
        <%= link_to "Refresh", refresh_public_user_positions_path, class: 'btn btn-warning' %>
        <div class="mt-2 ms-2"><%= get_refresh_time %></div>
      </div>
      <div class="form-check form-switch">
        <%= hidden_field_tag :switch_filter, 0 %>
        <%= check_box_tag :switch_filter, 1, @flag, class: "form-check-input", id: "filterSwitch", onchange: "this.form.submit();" %>
        <label class="form-check-label" for="filterSwitch">过滤总投入</label>
      </div>
    <% end %>
  </div>
  <div>
    <div class="p-3">
      <p>当日上涨币种数量: <%= @daily_market_data['risen'] %> (<%= daily_market_display(@daily_market_data['risen_ratio'], true) %>%) 下跌数量: <%= @daily_market_data['fallen'] %> (<%= daily_market_display(@daily_market_data['fallen_ratio'], false) %>%) BTC涨跌 <%= price_change_style(@daily_market_data['btc_change']) %>( <%= price_change_style(@daily_market_data['btc_change_ratio']) %>%)</p>
      <p>总投入: <%= @total_summary[:total_cost].round(4) %> <%= last_summary_display(@last_summary[:total_cost]) %> / 绝对收益: <%= @total_summary[:total_revenue].round(4) %> <%= last_summary_display(@last_summary[:total_revenue]) %> / 绝对收益占总投入的比例: <%= get_roi(@total_summary)  %></p>
      <p>盈利总数量: <%= @total_summary[:profit_count] %> <%= last_summary_display(@last_summary[:profit_count]) %> / 盈利总金额: <%= @total_summary[:profit_amount].round(4) %><%= last_summary_display(@last_summary[:profit_amount]) %> </p>
      <p>亏损总数量: <%= @total_summary[:loss_count] %> <%= last_summary_display(@last_summary[:loss_count]) %> / 亏损总金额: <%= @total_summary[:loss_amount].round(4) %> <%= last_summary_display(@last_summary[:loss_amount]) %> </p>
      <p>总资金费用: <%= price_change_style @total_summary[:total_funding_fee].round(4) %></p>
      <p>历史最高盈利: <%= @total_summary[:max_profit].round(4) %> ( <%= @total_summary[:max_profit_date] %> ) / 历史最高亏损: <%= @total_summary[:max_loss].round(4) %> ( <%= @total_summary[:max_loss_date] %> )</p>
      <p>历史最高绝对收益: <%= @total_summary[:max_revenue].round(4) %> ( <%= @total_summary[:max_revenue_date] %> ) / 历史最低绝对收益: <%= @total_summary[:min_revenue].round(4) %> ( <%= @total_summary[:min_revenue_date] %> )</p>
      <p>历史最高绝对收益占总投入的比例: <%= @total_summary[:max_roi].round(4) %>% ( <%= @total_summary[:max_roi_date] %> ) / 历史最低绝对收益占总投入的比例: <%= @total_summary[:min_roi].round(4) %>% ( <%= @total_summary[:min_roi_date] %> )</p>
    </div>
  </div>
  <div id="user-positions-container">
    <%= render partial: "shared/list", locals: { source_type: :public } %>
  </div>
</div>

<%= render partial: "modal" %>

<div id="positions-level-modal">
</div>