<div class="m-3">
  <h3 class="mb-3"><%= @record.origin_symbol %>备注历史管理</h3>
  <div id="notes-container">
    <table class="table">
      <thead>
        <tr class="table-container-tr">
          <th>添加人</th>
          <th>更新时间</th>
          <th>备注</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @notes.each do |n| %>
          <tr>
            <td><%= n.user.email %></td>
            <td><%= n.created_at.strftime('%Y-%m-%d %H:%M') %></td>
            <td><%= n.notes %></td>
            <td>
              <%= link_to '编辑', edit_user_positions_notes_history_path(n), remote: true if current_user == n.user %>
              <%= link_to '删除', user_positions_notes_history_path(n) if current_user == n.user %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="p-4">
      <%= paginate @notes %>
    </div>
  </div>
</div>

<div id="notes-modal"></div>