<div class="m-3">
  <h3 class="mb-3"><%= @symbol %>合约备注历史记录</h3>
  <div class="mb-3 mt-5 col-8">
    <%= form_tag user_positions_notes_histories_path, id: "search_targets", method: "GET" do %>
      <div class="input-group mb-3 position-filter">
        <%= select_tag(:origin_symbol, options_for_select(UserPositionsNotesHistory.includes(:user_position).map(&:origin_symbol).uniq, @symbol), { prompt: '请选择交易类别...', class: 'select2-dropdown form-control'} ) %>
        <span class='ms-3'></span>
        <%= select_tag(:source, options_for_select(['binance', 'okx'], @source),{ prompt: '请选择来源...', class: 'select2-dropdown form-control'}) %>
        <span class='ms-3'></span>
        <%= select_tag(:trade_type, options_for_select([['做空', 'buy'], ['做多', 'sell']], @trade_type),{ prompt: '请选择交易类别...', class: 'select2-dropdown form-control'}) %>
        <button type="submit" class="btn btn-primary ms-3">确定</button>
        <%= link_to "Reset", user_positions_notes_histories_path, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
  <div id="notes-container">
    <%= render partial: "list" %>
  </div>
</div>

<div id="notes-modal"></div>