<table class="table">
  <thead>
    <tr class="table-container-tr">
      <% positions_table_headers.each do |h| %>
        <% next if h[:sort].in?(["cost_ratio", "margin_revenue", "roi", "revenue_ratio", "margin_ratio"]) %>
        <th scope="col">
          <% if h[:sort] == "none" || h[:sort] == "best_revenue_date" %>
            <%= "#{h[:name]}" %>
          <% else %>
            <%= link_to "#{h[:name]}", snapshot_info_path(@info, ch_remote_params(params, h[:sort])), remote: true, class: "#{params[:sort] == h[:sort] ? 'text-primary' : ''}" %>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |h| %>
      <tr>
        <td><%= h.from_symbol %> / <%= h.fee_symbol %></td>
        <td class="<%= trade_type_style(h.trade_type) %>"><%= I18n.t("views.contract_trading.#{h.trade_type}") %></td>
        <td><%= h.price.round(4) %> <%= h.fee_symbol %></td>
        <td><%= h.estimate_price.round(4) %> <%= h.fee_symbol %></td>
        <td><%= h.qty.round(4) %></td>
        <td><%= h.amount.round(4) %> <%= h.fee_symbol %></td>
        <td class="<%= h.revenue > 0 ? 'pos-num' : 'neg-num' %>"><%= h.revenue.round(4) %> <%= h.fee_symbol %></td>
        <td><%= h.source %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="p-4">
  <%= paginate @records, remote: true %>
</div>