<div class="m-3">
  <h2 class="mb-4 row">
    <%= link_to "导出CSV", export_user_positions_snapshot_info_path(@info, format: :csv, search: params[:search]), class: "btn btn-primary col-1" %>
    <div class="text-center col-10">合约仓位历史快照 - <%= @info.event_date.to_s %></div>
  </h2>
  <div class="mb-3 col-2">
    <%= form_tag snapshot_info_path(@info, user_id: params[:user_id]), id: "search_targets", method: "GET" do %>
      <div class="input-group mb-3">
        <%= select_tag(:search, options_for_select(@info.snapshot_positions.pluck(:origin_symbol).uniq, @symbol), { prompt: '请选择币种...', class: 'select2-dropdown form-control' }) %>
        <button type="submit" class="btn btn-primary ms-3">确定</button>
        <%= link_to "Reset", snapshot_info_path(@info, user_id: params[:user_id]), class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
  <div>
    <div class="p-3">
      <p>当日上涨币种数量: <%= @info.increase_count %> (<%= daily_market_display(@info.increase_ratio, true) %>%) 下跌数量: <%= @info.decrease_count %> (<%= daily_market_display(@info.decrease_ratio, false) %>%) BTC涨跌 <%= price_change_style(@info.btc_change.to_f) %>( <%= price_change_style(@info.btc_change_ratio.to_f) %>%)</p>
      <p>总投入: <%= @info.total_cost.round(3) %> <%= last_summary_display(@info.margin_summary[:total_cost]) %> / 绝对收益: <%= @info.total_revenue.round(3) %> <%= last_summary_display(@info.margin_summary[:total_revenue]) %> / 绝对收益占总投入的比例: <%= price_change_style @info.total_roi %>%</p>
      <p>盈利总数量: <%= @info.profit_count %> <%= last_summary_display(@info.margin_summary[:profit_count]) %> / 盈利总金额: <%= @info.profit_amount.round(3) %><%= last_summary_display(@info.margin_summary[:profit_amount]) %> </p>
      <p>亏损总数量: <%= @info.loss_count %> <%= last_summary_display(@info.margin_summary[:loss_count]) %> / 亏损总金额: <%= @info.loss_amount.round(3) %> <%= last_summary_display(@info.margin_summary[:loss_amount]) %> </p>
      <p>历史最高盈利: <%= @info.max_profit.round(3) %> ( <%= get_date_format @info.max_profit_date %> ) / 历史最高亏损: <%= @info.max_loss.round(3) %> ( <%= get_date_format @info.max_loss_date %> )</p>
      <p>历史最高绝对收益: <%= @info.max_revenue.round(3) %> ( <%= get_date_format @info.max_revenue_date %> ) / 历史最低绝对收益: <%= @info.min_revenue.round(3) %> ( <%= get_date_format @info.min_revenue_date %> )</p>
      <p>历史最高绝对收益占总投入的比例: <%= @info.max_roi.round(3) %>% ( <%= get_date_format @info.max_roi_date %> ) / 历史最低绝对收益占总投入的比例: <%= @info.min_roi.round(3) %>% ( <%= get_date_format @info.min_roi_date %> )</p>
    </div>
  </div>
  <div id="position-histories-container">
    <%= render partial: "list" %>
  </div>
</div>