<div class="m-3 row">
  <h3>原始交易记录列表</h3>
  <div class="mb-3 col-3">
    <%= form_tag origin_transactions_path, id: "search_targets", class: "position-relative", method: "GET" do %>
      <%= select_tag(:campaign, options_for_select(OriginTransaction.pluck(:campaign).compact.uniq, params[:campaign]),{ prompt: '请选择campaign...', class: 'select2-dropdown', onchange: 'this.form.submit()' }) %>
    <% end %>
  </div>
  <div class="mb-3 col-3">
    <%= form_tag origin_transactions_path, id: "search_targets", class: "position-relative", method: "GET" do %>
      <%= select_tag(:source, options_for_select(OriginTransaction.pluck(:source).compact.uniq, params[:source]),{ prompt: '请选择来源...', class: 'select2-dropdown', onchange: 'this.form.submit()' }) %>
    <% end %>
  </div>
  <div class="mb-3 col-3">
    <%= link_to "Reset", origin_transactions_path, class: 'btn btn-warning' %>
  </div>
  <div>
    <div class="p-3">
      <p>总投入: <%= @total_summary['total_cost'].to_f.round(3) %> / 总盈利: <%= @total_summary['total_revenue'].to_f.round(3) %> </p>
      <p>盈利总数量: <%= @total_summary['profit_count'] %>  / 盈利总金额: <%= @total_summary['profit_amount'].to_f.round(3) %> </p>
      <p>亏损总数量: <%= @total_summary['loss_count'] %>  / 亏损总金额: <%= @total_summary['loss_amount'].to_f.round(3) %> </p>
    </div>
  </div>
  <div id="trading-histories-container">
    <%= render partial: "list" %>
  </div>
</div>

<div id="transactions-campaign-modal">
</div>