<div class="m-3 get_24hr_tickers_page">
  <h3>
    最近24小时币种涨跌排名列表
    <%= link_to "Refresh", refresh_24hr_ticker_path, class: 'btn btn-warning' %>
  </h3>
  <div class="mt-3 col-3">
    <div class="input-group mb-3 position-filter">
      <%= select_tag(:search, options_for_select(@symbols), { prompt: '请选择币种...', class: 'select2-dropdown form-control select_ranking_symbols' }) %>
      <span class='ms-3'></span>
      <%= select_tag(:source, options_for_select(['binance', 'okx'], @source),{ prompt: '请选择来源...', class: 'select2-dropdown form-control select_ranking_source'}) %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>排名</th>
            <th>24小时涨幅</th>
            <th>一年内底部比例</th>
            <th>振幅</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @daily_ranking.sort_by{|d| d["priceChangePercent"].to_f}.reverse.first(10).each do |d| %>
            <tr>
              <td><%= get_symbol_url(d["symbol"], d["source"], get_top10_count(d["source"], d["symbol"])) %></td>
              <td><%= ranking(d["symbol"]) %></td>
              <td><%= d["priceChangePercent"] + " %" %></td>
              <td><%= d["bottomPriceRatio"] + " %" %></td>
              <td><%= d["amplitude"].to_s + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>排名</th>
            <th>24小时跌幅</th>
            <th>一年内底部比例</th>
            <th>振幅</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @daily_ranking.select{|d| d["priceChangePercent"].to_f < 0}.sort_by{|d| d["priceChangePercent"].to_f}.first(10).each do |d| %>
            <tr>
              <td><%= get_symbol_url d["symbol"], d["source"] %></td>
              <td><%= ranking(d["symbol"]) %></td>
              <td><%= d["priceChangePercent"] + " %" %></td>
              <td><%= d["bottomPriceRatio"] + " %" %></td>
              <td><%= d["amplitude"].to_s + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <h3 class='mt-5' id="bottom_select_table">最近一年距离底部超过一倍的币种</h3>
  <div class="mt-3 col-4">
    <%= form_tag refresh_24hr_ticker_path, class: "position-relative", method: "GET" do %>
      <div class="input-group mb-3 position-filter">
        <%= select_tag(:bottom_select, options_for_select([["所有币种", 0], ["前100名以外",1],["前200名以外",2]], @bottom_select ),{ prompt: '请选择币种排名', class: 'select2-dropdown' }) %>
        <%= hidden_field_tag :data_type, :bottom %>
        <button type="submit" class="btn btn-primary mx-3">确定</button>
      </div>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>距离底部上涨幅度</th>
            <th>距离顶部比例</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @bottom_select_ranking.select{|d| d["risenRatio"].to_f > 100}.sort_by{|d| d["risenRatio"]}.reverse.first(10).each do |d| %>
            <tr>
              <td><%= get_symbol_url d["symbol"], d["source"] %></td>
              <td><%= d["risenRatio"].to_s + " %" %></td>
              <td><%= d["topPriceRatio"].to_s + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>距离顶部比例</th>
            <th>距离底部上涨幅度</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @bottom_select_ranking.select{|d| d["topPriceRatio"] != 0}.sort_by{|d| d["topPriceRatio"]}.first(10).each do |d| %>
            <tr>
              <td><%= get_symbol_url d["symbol"], d["source"] %></td>
              <td><%= d["topPriceRatio"].to_s + " %" %></td>
              <td><%= d["risenRatio"].to_s + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <h3 class='mt-5' id="top_select_table">距离顶部下跌幅度的排行</h3>
  <div class="mt-3 col-4">
    <%= form_tag refresh_24hr_ticker_path, class: "position-relative", method: "GET" do %>
      <div class="input-group mb-3 position-filter">
        <%= select_tag(:duration, options_for_select([["最近一年内", 12], ["最近两年内",24]], @duration ),{ class: 'select2-dropdown' }) %>
        <span class='ms-3'></span>
        <%= select_tag(:top_select, options_for_select([["所有币种", 0], ["前100名以内",3], ["前100名以外",4], ["前200名以内",5], ["前200名以外",6]], @top_select ),{ prompt: '请选择币种排名', class: 'select2-dropdown' }) %>
        <%= hidden_field_tag :data_type, :top %>
        <button type="submit" class="btn btn-primary mx-3">确定</button>
      </div>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col-10">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>距离顶部下跌幅度</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @top_select_ranking.select{|d| d["topPriceRatio"] != 0}.sort_by{|d| d["topPriceRatio"]}.reverse.first(10).each do |d| %>
            <tr>
              <td><%= get_symbol_url d["symbol"], d["source"] %></td>
              <td><%= d["topPriceRatio"].to_s + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <h3 class="mt-5">最近3天币种涨跌排名列表</h3>
  <div class="row mt-3">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>3天内涨幅</th>
            <th>一年内底部比例</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @three_days_ranking.sort_by{|d| d["priceChangePercent"].to_f}.reverse.first(10).each do |d| %>
            <tr>
              <td><%= get_symbol_url d["symbol"], d["source"] %></td>
              <td><%= d["priceChangePercent"] + " %" %></td>
              <td><%= d["bottomPriceRatio"] + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>3天内跌幅</th>
            <th>一年内底部比例</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @three_days_ranking.sort_by{|d| d["priceChangePercent"].to_f}.first(10).each do |d| %>
            <tr>
              <td><%= get_symbol_url d["symbol"], d["source"] %></td>
              <td><%= d["priceChangePercent"] + " %" %></td>
              <td><%= d["bottomPriceRatio"] + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <h3 class="mt-5">最近一周币种涨跌排名列表</h3>
  <div class="row mt-3">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>一周内涨幅</th>
            <th>一年内底部比例</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @weekly_ranking.sort_by{|d| d["priceChangePercent"].to_f}.reverse.first(10).each do |d| %>
            <tr>
              <td><%= get_symbol_url d["symbol"], d["source"] %></td>
              <td><%= d["priceChangePercent"] + " %" %></td>
              <td><%= d["bottomPriceRatio"] + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>一周内跌幅</th>
            <th>一年内底部比例</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @weekly_ranking.sort_by{|d| d["priceChangePercent"].to_f}.first(10).each do |d| %>
            <tr>
              <td><%= get_symbol_url d["symbol"], d["source"] %></td>
              <td><%= d["priceChangePercent"] + " %" %></td>
              <td><%= d["bottomPriceRatio"] + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="ranking-modal-block">
</div>