<div class="m-3">
  <h3>
    最近24小时币种涨跌排名列表
    <%= link_to "Refresh", refresh_24hr_ticker_path, class: 'btn btn-warning' %>
  </h3>
  <div class="row mt-3">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>24小时涨幅</th>
            <th>半年内底部比例</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @daily_ranking.sort_by{|d| d["priceChangePercent"].to_f}.reverse.first(10).each do |d| %>
            <tr>
              <td><%= d["symbol"] %></td>
              <td><%= d["priceChangePercent"] + " %" %></td>
              <td><%= d["bottomPriceRatio"] + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>24小时变动</th>
            <th>半年内底部比例</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @daily_ranking.select{|d| d["priceChangePercent"].to_f < 0}.sort_by{|d| d["bottomPriceRatio"].to_f}.reverse.first(10).each do |d| %>
            <tr>
              <td><%= d["symbol"] %></td>
              <td><%= d["priceChangePercent"] + " %" %></td>
              <td><%= d["bottomPriceRatio"] + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <h3 class="mt-5">最近3天币种涨跌排名列表</h3>
  <div class="row mt-3">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>3天内涨幅</th>
            <th>半年内底部比例</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @three_days_ranking.sort_by{|d| d["priceChangePercent"].to_f}.reverse.first(10).each do |d| %>
            <tr>
              <td><%= d["symbol"] %></td>
              <td><%= d["priceChangePercent"] + " %" %></td>
              <td><%= d["bottomPriceRatio"] + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>3天内跌幅</th>
            <th>半年内底部比例</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @three_days_ranking.sort_by{|d| d["priceChangePercent"].to_f}.first(10).each do |d| %>
            <tr>
              <td><%= d["symbol"] %></td>
              <td><%= d["priceChangePercent"] + " %" %></td>
              <td><%= d["bottomPriceRatio"] + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <h3 class="mt-5">最近一周币种涨跌排名列表</h3>
  <div class="row mt-3">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>一周内涨幅</th>
            <th>半年内底部比例</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @weekly_ranking.sort_by{|d| d["priceChangePercent"].to_f}.reverse.first(10).each do |d| %>
            <tr>
              <td><%= d["symbol"] %></td>
              <td><%= d["priceChangePercent"] + " %" %></td>
              <td><%= d["bottomPriceRatio"] + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>一周内跌幅</th>
            <th>半年内底部比例</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @weekly_ranking.sort_by{|d| d["priceChangePercent"].to_f}.first(10).each do |d| %>
            <tr>
              <td><%= d["symbol"] %></td>
              <td><%= d["priceChangePercent"] + " %" %></td>
              <td><%= d["bottomPriceRatio"] + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>