<div class="m-3 get_24hr_tickers_page">
  <h3 class='mt-5' id="top_select_table">距离顶部下跌幅度的排行</h3>
  <div class="mt-3 col-4">
    <%= form_tag refresh_24hr_ticker_path, class: "position-relative", method: "GET" do %>
      <div class="input-group mb-3 position-filter">
        <%= select_tag(:duration, options_for_select([["最近一年内", 12], ["最近两年内",24]], @duration ),{ class: 'select2-dropdown' }) %>
        <span class='ms-3'></span>
        <%= select_tag(:top_select, options_for_select([["所有币种", 0], ["前100名以内",3], ["前100名以外",4], ["前200名以内",5], ["前200名以外",6]], @top_select ),{ prompt: '请选择币种排名', class: 'select2-dropdown' }) %>
        <%= hidden_field_tag :data_type, :top %>
        <button type="submit" class="btn btn-primary mx-3">确定</button>
      </div>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col-10">
      <table class="table">
        <thead>
          <tr class="table-container-tr">
            <th>币种</th>
            <th>距离顶部下跌幅度</th>
            <th>来源</th>
          </tr>
        </thead>
        <tbody>
          <% @top_select_ranking.select{|d| d["topPriceRatio"] != 0}.sort_by{|d| d["topPriceRatio"]}.reverse.first(10).each do |d| %>
            <tr>
              <td><%= get_symbol_url d["symbol"], d["source"] %></td>
              <td><%= d["topPriceRatio"].to_s + " %" %></td>
              <td><%= d["source"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="ranking-modal-block">
</div>