<table class="table">
  <thead>
    <tr class="table-container-tr">
      <% spots_table_headers.each do |h| %>
        <th scope="col">
          <% if h[:sort] == "none" %>
            <%= "#{h[:name]}" %>
          <% else %>
            <%= link_to "#{h[:name]}", spot_balance_snapshot_info_path(ch_remote_params(params, h[:sort])), remote: true, class: "#{params[:sort] == h[:sort] ? 'text-primary' : ''}" %>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |h| %>
      <% snapshot = @snapshots.select{|s| s.origin_symbol == h.origin_symbol && s.source == h.source}.first %>
      <tr>
        <td><%= h.origin_symbol %></td>
        <td><%= h.price.round(4) %> <%= h.to_symbol %></td>
        <td><%= h.estimate_price.to_f.round(4) %> <%= h.to_symbol %></td>
        <td><%= h.qty.round(4) %></td>
        <td><%= position_amount_display(h, snapshot) %></td>
        <td><%= spot_balance_revenue_display(h, snapshot) %></td>
        <td><%= h.source %></td>
        <td><%= UserSpotBalance::LEVEL[h.level] if h.level %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="paginationBox p-4">
  <%= paginate @records %>
</div>